html{
    box-sizing: border-box;
    overflow-x:hidden;

}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
.add-dish{
    margin: 0 auto;
    min-width: 760px;
}
.add-dish__close{
    display: flex;
    padding: 15px;
    align-items: center;
}
.add-dish__return{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/back.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;  
    cursor: pointer;  
}
.add-dish__return:hover{
    background-color: #ececec;
}
.add-dish__title{
    font-size: 24px;
    font-weight: bold;
}
.add-dish__form{
display: flex;
flex-direction: column;
}
.add-dish__label{
    height: 37px;
    font-size: 14px;
    margin-bottom: 15px;
}
.input-container{
border-top:  1px solid #D2D2D2;
border-bottom:  1px solid #D2D2D2;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.add-input{
    height: 100%;
    width: 380px;
    padding: 8px 11px;
    color: #333333;
    line-height: 20px;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
}
.input-name{
    margin-left: 68px;
}
.input-photo{
    margin-left: 50px;
}
.add-dish__btn{
    font-size: 16px;
    line-height: 1;
    width: 130px;
    margin-left: 150px;
    padding: 12px 21px 15px 21px;
    height: 46px;
    border: none;
    background: #10B02D;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background 0.15s ease-in;
}
.add-dish__btn:hover{
    background-color: #0ba842;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.invalid{
    border: 1px solid red;
}